body {
    overflow: hidden;
}

.nav-container {
    padding: 1rem;
    position: relative;
    z-index: 1000;
}

#book {
    background-color: white;
    box-shadow: 0 0.5em 1.2em -0.125em rgba(10,10,10,.6);
}

.sbmpei-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;
    min-height: 13rem;
    background-image: url(logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.front-page {
    width: 100%;
    height: 100%;
}

.front-page .page-content {
    margin: 10rem 1rem;
}

.page {
    background-color: #fff2e7;
}

.page-content {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
}

.page ul {
    list-style-type: none;
    text-align: left;
    display: inline-block;
    cursor:default;
}

.page ul li {
    margin: 0.1rem;
}

.page ul li.year {
    color: #aa1515;
}

.entry {
    position: relative;
    height: 1.75rem;
    display: inline-block;

    white-space: nowrap;
}

.entry .num {
    float: left;
    width: 1.6rem;
}

.entry .text {

}

.entry .subtext {
    color: #746b65;
    font-size: small;
    font-style: italic;
    position: absolute;
    top: 1rem;
    left: 2.5rem;
    opacity: 50%;
}

.entry .subtext.narrow {
    letter-spacing: -0.04rem;
    transform: scale(0.85, 1);
    transform-origin: 0 50%;
}

.entry:hover .subtext {
    opacity: 100%;
}

#dd-spec .dropdown-content {
    max-height: 40rem;
    overflow: auto;
}

.modal {
    z-index: 1010;
}

.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 0;
    z-index: -1;
    transition: opacity .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.loader-wrapper.is-active {
    opacity: 1;
    z-index: 2000;
}

.loader-wrapper .loader {
    height: 5rem;
    width: 5rem;
}

.box {
    box-shadow: 0 0.5em 1.2em -0.125em rgba(10,10,10,.6);
}

.odd-page {
    background: linear-gradient(90deg, #746b65 0%, #998f88 0.5%, #e5dad0, #fff2e7 4%);
}

.even-page {
    background: linear-gradient(90deg, #fff2e7 96%, #e5dad0, #998f88 100%);
}

@-webkit-keyframes search-highlight {
    0% {
        background-color: Yellow;
        opacity: 0;
    }
    10% {
        background-color: Yellow;
        opacity: 1;
    }
    70% {
        background-color: Yellow;
        opacity: 1;
    }
    100% {
        background-color: transparent;
    }
}

.search-highlight {
    -webkit-animation-name: search-highlight;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}
