<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page_title }}</title>
  <link rel="icon" href="static/favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="static/style.css">

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
          integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
          crossorigin="anonymous"></script>
  <script src="static/turn.js/turn.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

<!-- loader -->
<div id="loader" class="loader-wrapper is-active">
    <div class="loader is-loading"></div>
</div>

<!-- content -->
<div class="container nav-container">
  <div class="field is-grouped has-addons has-addons-centered">
    <p class="control">
      <button class="button is-light" onclick="prevPage()">
          <span class="icon"><i class="fas fa-arrow-left" aria-hidden="true"></i></span>
      </button>
    </p>
    <p class="control" style="width: 5rem" hidden><label>
      <input id="current-view" class="input" style="text-align: center;" type="text" readonly>
    </label></p>

    <div id ="dd-search" class="dropdown control">
      <div class="dropdown-trigger">
        <input id="search-input" class="input" type="text" placeholder="Фамилия Имя Отчество">
      </div>

      <div class="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <!-- content generates by js -->
        </div>
      </div>
    </div>

    <div id ="dd-spec" class="dropdown control">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-spec">
          <span>Специалист</span>
          <span class="icon is-small"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
        </button>
      </div>

      <div class="dropdown-menu" id="dropdown-menu-spec" role="menu">
        <div class="dropdown-content">
          {%- for y in s_years %}
            <a class="dropdown-item to-page" to-page="{{ y.page }}">{{ y.year }}</a>
          {%- endfor %}
        </div>
      </div>
    </div>

    <div id="dd-bach" class="dropdown control">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-bach">
          <span>Бакалавр</span>
          <span class="icon is-small"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
        </button>
      </div>

      <div class="dropdown-menu" id="dropdown-menu-mast" role="menu">
        <div class="dropdown-content">
          {%- for y in b_years %}
            <a class="dropdown-item to-page" to-page="{{ y.page }}">{{ y.year }}</a>
          {%- endfor %}
        </div>
      </div>
    </div>

    <div id="dd-mast" class="dropdown control">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-mast">
          <span>Магистр</span>
          <span class="icon is-small"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
        </button>
      </div>

      <div class="dropdown-menu" id="dropdown-menu-mast" role="menu">
        <div class="dropdown-content">
          {%- for y in m_years %}
            <a class="dropdown-item to-page" to-page="{{ y.page }}">{{ y.year }}</a>
          {%- endfor %}
        </div>
      </div>
    </div>

    <p class="control">
      <button class="button is-light" onclick="modalInfoOpen()">
        <span class="icon"><i class="fas fa-question" aria-hidden="true"></i></span>
      </button>
    </p>

    <p class="control">
      <button class="button is-light" onclick="nextPage()">
        <span class="icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
      </button>
    </p>
  </div>
</div>

<!-- book -->
<div class="container">
  <div class="content">
    <div class="box">
      <div id="book">
        {{ content }}
      </div>
    </div>
  </div>
</div>

<hr/>

<div class="container has-text-centered">
  <p>
    <a class="button is-light is-small has-text-grey"
       href="https://gitlab.com/kernel-panic-team/sbmpei-graduates-book/-/commit/{{ info.short_sha }}"
       target="_blank"
    >
      <span class="icon">
        <i class="fab fa-gitlab"></i>
      </span>
      <span>{{ info.short_sha|default('00000000', true) }}</span>
    </a>
  </p>
  <br>
</div>

<!-- info modal -->
<div id="modal-info" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Клавиша</th>
            <th>Действие</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="tag is-dark"><i class="fas fa-arrow-left" aria-hidden="true"></i></span></td>
            <td>предыдущая страница</td>
          </tr>
          <tr>
            <td><span class="tag is-dark"><i class="fas fa-arrow-right" aria-hidden="true"></i></span></td>
            <td>следующая страница</td>
          </tr>
          <tr>
            <td><span class="tag is-dark">ESC</span></td>
            <td>закрыть выпадающие списки</td>
          </tr>
        </tbody>
      </table>
      <table class="table is-hoverable is-fullwidth has-text-centered">
        <thead>
            <tr>
                <th>Примеры валидных поисков</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="tag is-info is-light">Иванов Иван Иванович</span></td>
          </tr>
          <tr>
            <td><span class="tag is-info is-light">Иванов Иван</span></td>
          </tr>
          <tr>
            <td><span class="tag is-info is-light">Иванов</span></td>
          </tr>
          <tr>
            <td><span class="tag is-info is-light">Ив Ива Иван</span></td>
          </tr>
          <tr>
            <td><span class="tag is-info is-light">И И Иванович</span></td>
          </tr>
          <tr>
            <td><span class="tag is-info is-light">И И И</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <span class="modal-close is-large" aria-label="close"></span>
</div>

<!-- small screen modal -->
<div id="modal-small-screen" class="modal">
  <div class="modal-background" style="background-color: #fff"></div>
  <div class="modal-content">
    <div class="content has-text-centered">
      <h3 class="title">Разрешение экрана меньше рекомендованного</h3>
      <p>Для корректного отображения ширина экрана должна быть больше 1000px</p>
      <button class="button is-danger is-outlined" onclick="modalSmallScreenClose()">Игнорировать</button>
    </div>
  </div>
</div>

<script type="text/javascript" src="{{ js_file_name }}"></script>

</body>
</html>