<div class="page {{ page_class }}">
    <div class="page-content">
        <ul>
            {%- for entry in entries -%}
                {% if entry.is_year %}
                    <li class="year">{{ entry }}</li>
                {%- else %}
                    <li>
                        <div class="entry">
                            <div class="num">{{ entry.num }}.</div>
                            <div class="text">{{ entry.text }}</div>
                            <div class="subtext {% if entry.is_narrow  -%}narrow{%- endif -%}">
                                {%- if entry.subtext -%}
                                    {{ entry.subtext }}
                                {%- endif -%}
                            </div>
                        </div>
                    </li>
                {%- endif %}
            {%- endfor %}
        </ul>
    </div>
</div>
